#contentPlayer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#info {
  font-family: Arial, Helvetica, sans-serif;
  color: #888;
  font-size: 12px;
}

#footer {
  display: inline-flex;
  background-color: #fff;
  border-radius: 50px;
  padding: 5px 5px 0px 5px;
}

#player {
  outline: none;
}

#buttonMicrophone {
	background-image: url("../images/microphone.png");
}

#buttonDownload {
  background-image: url("../images/download.png");
}

#buttonMicrophone:hover {
  background-color: #f5b6cb;
}

#buttonMicrophone:active {
  background-color: #f5b6cb;
}

.button {
  cursor: pointer;
  display: block;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-top: 2px;
  background-position: center center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-color: #F1F3F4;
  border-radius: 50px;
}

.shadow {
  box-shadow: 0 20px 40px 0 rgba(91, 107, 174, 0.15);
}

.transition {
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes bouncing{
  0%  { background-color: #f5b6cb; }
  100%{ background-color: #fff; }
}

.animation-loop {
  animation: bouncing 0.5s 0s infinite alternate both;
}